.iconWsp img{
    max-width: 100px;
}
.iconWsp{
    position:fixed;
    float:right;
    bottom: 0px;
    right: 0px;
}
@keyframes cambio {
	0%{margin-left: 0;}
	33%{margin-left: 0;}

	36%{margin-left: -100%;}
	72%{margin-left: -100%;}

	75%{margin-left: -200%;}
	100%{margin-left: -200%;}
}